* {
    margin: 0;
    padding: 0;

    background-color: rgb(200, 200, 200);
}

.form-main-block {
    width: 96vw;
    height: 96vh;
    margin: 2vh 2vw;

    border-radius: 20px;
    background-color: white;
}