services:
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend/nginx.conf:/etc/nginx/nginx.conf  # Путь к конфигурации для проксирования
    # depends_on:
    #   - backend
    networks:
      - dev
  
  # db:
  #   image: mysql:8.0
  #   container_name: db
  #   restart: always
  #   healthcheck:
  #     test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
  #     interval: 5s
  #     timeout: 10s
  #     retries: 10
  #   environment: #TODO upd to .env
  #     MYSQL_ROOT_PASSWORD: ${password}
  #     MYSQL_DATABASE: ${db}
  #     MYSQL_USER: ${user}
  #     MYSQL_PASSWORD: ${password}
  #   ports:
  #     - "127.0.0.1:3307:3306"
  #   volumes:
  #     - mysql-data:/var/lib/mysql
  #   networks:
  #     - dev

  backend:
    build: ./backend
    environment:
      host: ${host}
      user: ${user}
      password: ${password}
      db: ${db}
      port: ${port}
      secret: ${secret}
      API_KEY: ${API_KEY}
      TOKEN: ${TOKEN}
      ADMIN_CHAT_ID: ${ADMIN_CHAT_ID}
      ADMIN_TOKEN: ${ADMIN_TOKEN}
    ports:
      - "8000:8000"
    restart: unless-stopped
    mem_limit: 512m
    extra_hosts:
      - "host.docker.internal:172.17.0.1"
    networks: 
      - dev

networks:
  dev:
    driver: bridge
