.nav-bar {
  padding: 20px;
  position: relative;
  z-index: 4999 ;
}

.search-box {
  width: 480px;
  padding-left: 20px;
  height: 40px;
  background: white;
  box-shadow: none;
  transition: .4s ;
  overflow: hidden;
  position: relative;
}

.search-box:hover {
  box-shadow: white -2px 1px 50px -8px;
}

.search-txt {
    border: none;
    width: calc(100% - 60px);
    padding: 0;
    height: 40px;
    background: white;
    font-size: 20px;
    color: black;
    outline: none;
}

.search-btn {
    position: absolute;
    color: black;
    font-size: 20px;
    width: 40px;
    height: 40px;
    padding: 10px;
    right: 0;
    background: white;
    outline: none;
    border: none;
}

.search-btn .ripple {
    background: rgba( 200,200,200,0.5 ) ;
    position: absolute;
    transform: scale(0);
    border-radius: 50%;
    animation: ripple 1s;
}

@keyframes ripple {
    100% {
        transform: scale(2);
        opacity:0;
    }
}

/*HINTS*/

.hints {
    width:fit-content !important;
    height:160px;
    overflow-y: scroll;
    overflow-x: hidden ;
    display: none;
    max-width: 90vw;

}

.hints ul {
    margin:0;
    text-decoration: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.hints ul li {
    list-style-type: none;
    font-size: 17px;
    padding: 10px 20px;
    background: white;
    display: inline-block;
    justify-self: stretch;
}

.hints ul li:hover {
    background: rgb( 200,200,200 ) ;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .search-box{
        width: 90vw;
    }

    .nav-bar{
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }

    .hints{
        position: absolute;
        top: calc(40px + 10px);
        width: auto;
        left: 5vw;
    }
}