/* Базовые стили */
body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font: 300 100% 'Helvetica Neue', Helvetica, Arial;
}

* {
	box-sizing: border-box;	
}

.fil0 { fill: #444444; }
.fil1 { fill: #FEFEFE; }

/* Прелоадер */
#preloader {
	width: 100%;
	height: 100%;
	background: #262626;
	z-index: 5001;
	position: fixed;
	top: 0;
	left: 0;
}

#preloader .mai {
	width: 50%;
	max-width: 300px;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Основной контейнер */
#main {
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow: hidden;
}

/* Карта */
#main #map {
	position: absolute;
	width: 100%;
	height: 100%;
	background: black;
}

/* Таймлайн */
#main #timeline {
	position: absolute;
	width: 100%;
	height: 60px;
	bottom: 0;
	z-index: 5000;
	/* background: rgba(0, 0, 0, 0.7); */
}

swiper-container{
	height: 15vh;
	transform: translateY(calc(-150% - env(safe-area-inset-bottom)));
	z-index: 1000;
}

swiper-slide{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 5vw;
	color: rgb(207, 207, 207);
	font-weight: bold;
	
}
.swiper-slide-next{
	font-size: 20vw;
	color: white;
}

.mobile_slider{
	display: none;
}


/* Адаптация для десктопов */
@media (min-width: 1025px) {
	#main #timeline {
		height: 80px;
	}
}

/* Адаптация для мобильных устройств */
@media (max-width: 767px) {
	#main #timeline {
		height: 50px;
	}

	#preloader .mai {
		width: 70%;
	}

}

@media  screen and (max-width: 600px) {
	.mobile_slider{
		display: block !important;
	}

	#timeline{
		display: none !important;
	}
}