* {
    margin: 0;
    padding: 0;
}

#year-button-block {
    position: absolute;
    width: 42vw;
    height: 6vh;
    left: 52vw;
    top: calc(1vh + 10px);

    border-radius: 10px;    
    display: flex;
    flex-direction: row;
}

#manual {
    user-select: none;
    position: absolute;
    padding: 0 20px;
    padding-top: 5px;
    width: auto;
    height: 6vh;
    left: 7vw;
    top: calc(1vh + 10px);

    border-radius: 10px;    
    /* display: flex;
    flex-direction: column;
    justify-content: center; */

    font-family: Arial;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 2vh;

    border-radius: 10px;
    border: 3px solid rgb(160, 160, 160);
    background-color: rgb(220, 220, 220);

    &:hover {
        cursor: pointer;
        /* background-color: rgb(220, 220, 220); */
        box-shadow: 3px 0px 5px rgba(0, 0, 0, 0.2), -3px 0px 5px rgba(0, 0, 0, 0.2);
        transform: translateY(-4px);
        transition: all 0.2s;
    }

    &:active {
        cursor: pointer;
        background-color: rgb(200, 200, 200);
    }

    &::after {
        content: '📝';
    }
}

.main-content {
    position: relative;
    width: 96vw;
    height: 92vh;
    left: 2vw;  
    top: 7vh;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

    border-radius: 20px;
    background-color: white;
}

.form-main-block {
    position: relative;
    width: 25vw;
    height: 45%;
    left: 19vw;
    top: 1vh;

    text-align: center;
}

.form-title {
    position: absolute;
    width: 100%;
    top: 1vh;
    font-size: x-large;

    font-family: Arial;
    font-weight: 600;
    letter-spacing: 4px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

#main-form {
    position: absolute;
    width: 100%;
    top: 6vh;
    height: calc(100% - 6vh - 3px);
}

.form-input {
    width: 80%;
    height: 5vh;
    border-radius: 5px;
    border: 3px solid rgb(200, 200, 200);
    margin: 5px 5px;

    padding-left: 10px;
    font-size: 2vh;

    &:focus {
        outline: none;
        background-color: rgb(235, 235, 235);
        transition: background-color 0.2s;
    }
}

.photo-input {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
    z-index: -1;
}

/* ================================================ Блок стилей полей описания */

.description-title {
    position: absolute;
    width: 42vw;
    height: auto;

    font-size: x-large;
    font-weight: 600;
    letter-spacing: 4px;
    font-family: Arial;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.general-title {
    top: 50%;
    left: calc(1vw + 6px);
}

.year-title {
    top: 1vh;
    left: 50vw;
}

.description {
    position: absolute;
    width: 42vw;
}

.general-description {
    height: 40%;
    top: 55%;
    left: 1vw;
}

.year-description {
    height: 20%;
    top: 5vh;
    left: calc(50vw - 6px);
}

textarea {
    width: 100%;
    height: 100%;
    resize: none;

    padding-top: 10px;
    padding-left: 10px;

    border-radius: 5px;
    border: 3px solid rgb(200, 200, 200);

    font-family: Arial;
    font-size: large;

    &:focus {
        outline: none;
        background-color: rgb(235, 235, 235);
        transition: background-color 0.2s;
    }

    &::-webkit-scrollbar {
        width: 0px;
    }
}

/* ================================================ Блок карты */

#map-block {
    position: absolute;
    width: calc(44vw + 6px);
    height: 55vh;
    left: 49vw;
    top: calc(10vh + 20%);

    border-radius: 5px;
    /* background-color: rgba(120, 120, 120, 0.5); */

    cursor: pointer;
    z-index: 0;
}

/* ================================================ Блок стилей кнопок */

.year-button {
    width: calc(7vw - 3px);
    height: 100%;

    border-radius: 10px;
    border: 3px solid rgb(160, 160, 160);
    background-color: rgb(200, 200, 200);

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-size: 2vh;

    &:hover {
        cursor: pointer;
        background-color: rgb(220, 220, 220);

        transition: all 0.2s;
    }
}

.active-year {
    transform: translate(0, -5px);
    box-shadow: -3px 0px 3px rgba(0, 0, 0, 0.2), 3px 0px 3px rgba(0, 0, 0, 0.2);
    background-color: rgb(220, 220, 220);
}

#photo-button {
    position: absolute;
    /* width: 17vw; */
    width: calc(17vw - 6px);
    left: calc(1.5vw - 6px);
    top: calc(40% + 6px + 10px);
    height: 5%;
}

#year-photo-button {
    position: absolute;
    width: auto;
    height: 5%;
    margin: 0;
    right: 5%;
    bottom: 2vh;
}

.button-block {
    position: absolute;
    width: 50%;
    left: 71vw;
    transform: translateX(-50%);
    height: 5vh;
    bottom: 1vh;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5px;
}

[data-view="false"] {
    display: none;
}

.button-style:not([data-view="false"]) {
    width: auto;
    padding: 0px 30px;
    /* margin: 0 10px; */

    border-radius: 10px;
    border: 3px solid rgb(160, 160, 160);
    font-size: 100%;

    background-color: rgb(200, 200, 200);

    &:hover {
        cursor: pointer;
        transform: translate(0, -1px);
        box-shadow: 5px 5px 5px rgb(220, 220, 220);
        transition: all 0.2s;
    }

    &:active {
        transform: translate(0, 1px);
        box-shadow: none;
        transition: all 0.2s;
    }
}

#person-photo {
    position: absolute;
    width: calc(17vw - 10px);
    height: calc(40% - 6px);
    top: 1vh;
    left: calc(1.5vw - 6px);

    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    border: 3px solid rgb(200, 200, 200);
    border-radius: 10px;
}

/* ================================================ Блок стилизации popup */

.close {
    display: none;
}

.general-popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.35);
}

.popup-content {
    position: fixed;
    top: 3vh;
    border-radius: 20px;

    padding: 20px 0px;

    background-color: white;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 0px;
    }
}

.link-popup {
    left: 30vw;
    width: 40vw;
    height: 80vh;
}

.photo-popup {
    left: 10vw;
    width: 80vw;
    height: 80vh;
}

.manual-popup {
    left: 15vw;
    width: 70vw;
    height: 80vh;
}

.popup-qr {
    position: absolute;
    top: 5%;
    left: 7vw;
    width: 26vw;
    height: 26vw;

    background-color: grey;
}

.link-block {
    position: absolute;
    bottom: 20%;
    left: 10%;
    width: 80%;
    height: 5%;

    display: flex;
    flex-direction: row;

    border-radius: 10px;
    border: 3px solid rgb(200, 200, 200);

    #link {
        margin: 0px 2%;
        width: 86%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;

        overflow-x: scroll;
        white-space: nowrap;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    #copy-button {
        width: 10%;
        height: 100%;

        background-color: blue;

        &:hover {
            opacity: 0.8;
        }

        &:active {
            opacity: 0.9;
        }
    }
}

.close-button {
    position: absolute;
    padding: 5px;
    border-radius: 5px;
    border: none;

    top: 1vh;
    right: 1vw;

    font-size: x-large;
    background-color: transparent;

    &:hover {
        background-color: rgb(210, 210, 210);
        transition: background-color 0.2s;
    }
}

#photo-block {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 80%;

    overflow-x: hidden;
    overflow-y: scroll;

    font-size: x-large;
    font-family: Arial;

    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    gap: 2%;

    &::-webkit-scrollbar {
        display: none;
    }
}

.year-photo {
    max-width: 50%;
    max-height: 50%;
    object-fit: contain;

    border-radius: 10px;
    border: 2px solid rgb(150, 150, 150);
}

.manual-title {
    position: absolute;
    top: 3%;
    left: 5%;
    font-size: xx-large;
    font-family: Arial;
    font-weight: 600;
}

.manual-list {
    position: absolute;
    top: 12%;
    left: 5%;
    width: 90%;

    font-size: large;
    font-family: 'Times New Roman', Times, serif;

    
}

li + li {
    margin-top: 15px;
}

.leaflet-control-container{
    display: none !important;
}

/* ================================================ Стилизация списка с наградами */

.awards-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30%;

    font-family: Arial;
    letter-spacing: 4px;
    font-size: large;
    font-weight: 600;
}

.choices {
    position: absolute !important;
    width: calc(90% - 3px);
    left: 5%;
    bottom: 5%;

    border: 3px solid rgb(200, 200, 200);
    border-radius: 5px;
    background-color: white;

    /* overflow: scroll !important;

    &::-webkit-scrollbar {
        display: none;
    } */
}

.choices__inner {
    width: 100%;
    border-radius: 10px;
    border: 3px solid rgb(180, 180, 180);
    padding: 5px 0 !important;
    max-height: 60px !important;
    overflow: scroll !important;

    &::-webkit-scrollbar {
        display: none;
    }
}

.choices.custom-choices {
  border: 1px solid #999;
  border-radius: 4px;
  font-size: 14px;
}

.choices__item {
  background-color: rgb(220, 220, 220);
  border: 2px solid rgb(200, 200, 200);
  border-radius: 5px;
  padding: 2px 6px;
  margin: 2px;
  /* color: #333; */
}

.choices__list--multiple .choices__item {
    background-color: rgb(200, 200, 200) !important;
    border: 3px solid rgb(180, 180, 180) !important;
    border-radius: 10px !important;
    color: black !important;

    font-family: Arial;
}

.choices__button {
    /* display: none !important; */
    border: none !important;
}